//Text
body
  font-family: "Open Sans", sans-serif
h1
  color: #ccc
  font-weight: 300

article
  padding: 100px 0
  max-width: 640px
  margin: 0 auto
  text-align: center

//Background
.background
  position:relative
  height: 600px
  width: 100%
  background:
    image: url(images/slideshow/welcome1.jpg)
    size: cover
    position: top center
    attachment: fixed
//Logo
.logo
  height: 100px
  width: 100%
  background:
    image: url(images/icons/logo.svg)
    position: center
    repeat: no-repeat
  position: absolute
  top: 50%
  margin-top: -70px

//Periscope
.large-window
  height: 640px
  background:
    image: url(images/model2.jpg)
    position: center 0px
    repeat: repeat-y
    attachment: fixed
  margin-top: 100px
  border-radius: 50%

//Form

form
  position: relative
  left: 25%
  width: 50%
