//Text
body
  font-family: "Open Sans", sans-serif
  background: white
  z-index: 2
h1
  color: #ccc
  font-weight: 300

.conteudo
  position: relative
  z-index: 2
  background: white
  margin-bottom: 400px

  article
    padding: 100px 0
    max-width: 640px
    margin: 0 auto
    text-align: center
    z-index: 2

    img
      max-width: 100%

//Background
header
  z-index: 2
  background: white

.background
  position:relative
  height: 600px
  width: 100%
  background:
    image: url(images/slideshow/welcome1.jpg)
    size: cover
    position: top center
    attachment: fixed

  z-index: 3
//Logo
.logo
  height: 100px
  width: 100%
  background:
    image: url(images/icons/logo.svg)
    position: center
    repeat: no-repeat
  position: absolute
  top: 50%
  margin-top: -70px

//Periscope
.large-window
  height: 640px
  background:
    image: url(images/model2.jpg)
    position: center 0px
    repeat: repeat-y
    attachment: fixed
  margin-top: 100px
  border-radius: 50%



footer
  background: black
  color: white
  padding: 40px 0
  position: fixed
  bottom: -65px
  width: 100%
  .footer
    max-width: 640px
    margin: 0 auto
  a
    color:white
  li
    list-style-type: none
