/*FONTS*/
@font-face{
    font-family: SanFran;
    src: url("fonts/System San Francisco Display Regular.ttf");
}

/*PAGE TITLE*/
.title{
    font-family: SanFran;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
	position: relative;
	top: -40px;
	left: 5%;
	padding-bottom: -10px;
}