/*FONTS*/

@font-face {
  font-family: SanFran;
  src: url("fonts/System San Francisco Display Regular.ttf");}

@font-face {
    font-family: SanFranThin;
    src: url("fonts/System San Francisco Display Thin.ttf");}
    
 /*WELCOME SCREEN*/
 img{
   height: 227px;
   position: relative;
   left: 31%;
   top: 100px;
}
 
 h1 {
   font-family: SanFran;
   font-size: 75px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 5px;
   margin-top: 100px;
 }
 
 .nav-bar {
   display: inline-block;
   border-right: 3px solid black;
   position: relative;
   left: 29%;
   
 }
 
 a {
   font-family: SanFran;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: none;
   color: black;
   display: inline-block;
   border-left: 3px solid black;
   padding-right: 42px;
   padding-left: 42px;
 }
 
    a:hover {      
      color: #0d1949;
    }