@font-face {
    font-family: SanFran;
    src: url("fonts/System San Francisco Display Regular.ttf");}

.main-content {
        position: relative;
        z-index: 0; }
.menu{
        overflow-x: hidden;
        position: relative;
        left: 0; }
        
        .sidebar{
                left: -280px;}
        .menu-open{
                left: 230px;}
        .menu-open .toggle{
                left: 280px;}
        .menu-open .sidebar{
                left: 0;}
.sidebar {
        position: fixed;
        top: 0;
        right: 0px;
        bottom: 0px;
        /*left: 0px;*/
        width: 240px;
        padding: 38px;
        background: #333;
        z-index: 0; }
li{
        color: rgba(255, 255, 255, 0.8);
        list-style-type: none;
        font-family: SanFran;
        font-size: 16px;
        margin-bottom: 16px;
        position: relative;
        left: -50px;
        cursor: pointer; 
        -webkit-font-smoothing: antialised;}

  
  li:hover{
        color: white; }
.toggle {
        text-decoration: none;
        overflow-x: hidden;
        position: fixed;
        top: 20px;
        right: 0;
        bottom: 0;
        left: 20px;
        z-index: 1;
        font-size: 30px;
        color: #0d1949; }

  