@font-face
{
    font-family: SanFran;
    src: url("fonts/System San Francisco Display Regular.ttf");
}

.title
{
    font-family: SanFran;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position:relative;
    top: -40px;
}
